.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: h;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    margin-bottom: 10px;

    -webkit-box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
}

.img {
    margin-left: 10px;
    width: 50px;
    border-radius: 50%;
}
.loginBlock {
    margin-right: 30px;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;

    -webkit-box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);

    color: black;
    text-decoration: none;
}

.item:hover {
    background-color: black;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.active {
    background-color: black;
    border: none;
    color: aliceblue;
}

.logout {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: white;

    -webkit-box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 10px 10px 23px 0 rgba(0, 0, 0, 0.45);

    color: black;
    text-decoration: none;
    outline: none;
}

.logout:hover {
    background-color: black;
    border: none;
    color: aliceblue;
    cursor: pointer;
}