.post {
    margin: 30px 30px;
    display: flex;
    align-items: center;
    font-size: 23px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    width: 800px;
}

.post_img {
    width: 50px;
    height: 50px;
    opacity: 100;
    margin-right: 30px;
}

.likes {
    flex-basis: 100%;
}